.header-row {
	text-align: center;
}
body {
	background: #fff;
	color: #333;
	font-family: Lato, sans-serif;
}

li, h3 {
  clear:both;
  list-style:none;
}
button {
  background: none;
  border: 0px;
  font-size: 10px;
  width: 40px;
  margin: 0px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #CF2323;
}
button:focus {
	outline:0;
}
li >  input[type="text"] {
  width: 110px;
}

.edit, .delete {
	float: right;
}
/* Edit Task */
ul li input[type=text] {
  display:none;
}

ul li.editMode input[type=text] {
  display:inline;
}

ul li.editMode label {
  display:none;
}
.selected {
	background-color:#89CFF0;
}

.right, .left, .middle-left, .middle-right {
	padding-bottom: 60px;
	
}


#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;
	background-color: #999999;
	clear: both;
	font-family: Lato, sans-serif;
	font-size: 14px;
	text-align: center;
	color: black;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

#footer h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

#zero {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	width: 60px;
	height: 30px;
	line-height: 30px;
	background-color: white;
	margin-top: 4px;
	border-radius: 5px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin-right: 2px;
	margin-left: 2px;
	cursor: pointer;
}

#zero p {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;   
}

#four {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	width: 60px;
	height: 30px;
	line-height: 30px;
	background-color: #00cf00;
	margin-top: 4px;
	border-radius: 5px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin-right: 2px;
	margin-left: 2px;
	cursor: pointer;
}

#four p {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

#three {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	width: 60px;
	height: 30px;
	line-height: 30px;
	background-color: yellow;
	margin-top: 4px;
	border-radius: 5px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin-right: 2px;
	margin-left: 2px;
	cursor: pointer;
}

#three p {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

#two {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	width: 60px;
	height: 30px;
	line-height: 30px;
	background-color: orange;
	margin-top: 4px;
	border-radius: 5px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin-right: 2px;
	margin-left: 2px;
	cursor: pointer;
}

#two p {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

#one {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	width: 60px;
	height: 30px;
	line-height: 30px;
	background-color: red;
	margin-top: 4px;
	border-radius: 5px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin-right: 2px;
	margin-left: 2px;
	cursor: pointer;
}

#one p {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

#commit {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	width: 60px;
	height: 30px;
	line-height: 30px;
	background-color: white;
	margin-top: 4px;
	border-radius: 5px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin-right: 2px;
	margin-left: 2px;
	cursor: pointer;
}

#commit p {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
